<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
  body{
    margin:0;
    padding:20px;
    font:12px/17px Arial, sans-serif;
    background:#f9f9f9;
  }
  </style>
</head>
<body>
  <canvas id="viewport" width="800" height="600"></canvas>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/arbor/0.91.0/arbor.js"></script>

  <script src="script/graph.js"></script>

</body>
</html>